body, body.normal {
    /*fondo de luminosidad media*/
    background-color: #963F53;
    /*letra de color 
    levemente oscuro*/
   color: #111;
}
body.tenue {
   /*fondo oscuro 
   para ambiente de oscuridad*/
     background-color: #70011B;
     /*luz clara que resalte del fondo*/
   color: #fff;
}
body.luminoso {
   /*fondo claro 
   para ambiente de mucha claridad*/
     background-color: #fff;
     /*luz oscura que resalte del fondo*/
   color: #70011B;
}
body {
  font-size: 16px;
  font-family: Arial;
  font-weight: bolder;
}

@media (light-level: normal) {
  div#light-level {
    background-color: green; 
  }
}
@media (light-level: dim) {
  div#light-level { 
    background-color: red;
  }
}
@media (light-level: washed) {
  div#light-level { 
    background-color: orange;
  }
}